.navBar {
    background: rgba(152, 139, 139, 0.252);
    position: fixed;
    width: 100%;
}

.navBar ul {
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #566056;
    text-decoration: none;
    margin-left: 50mm;
    margin-top: -10mm;
}
  
.navBar li a {
    color: #566056;
    text-decoration: none;
    font-size: 1.6rem;
}
  
.navBar li a:hover {
    cursor: pointer;
    background-color: rgba(152, 139, 139, 0.152);
}