.navBar {
    position: fixed;
    display: flex;
    justify-content: end;
}

.navBar h1 {
    font: bold 10em Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    margin-top: -4mm;
    margin-left: -458mm;
}

.navBar ul {
    list-style-type: none;
    font: bold 2em Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    text-decoration: none;
}
  
.navBar li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
}
  
.navBar li a:hover {
    cursor: pointer;
    background-color: rgba(152, 139, 139, 0.152);
}