.homepage {
  background-image: url(../public/220730_NanetteSeniorPortraits_KP-56.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  padding: 5mm;
}