#fixed {
    background-image: url(../../../public/220730_NanetteSeniorPortraits_KP-56.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    height: 30%;
}

#remaining {
    flex-grow: 1;
}

.homePage h1 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 80px;
    color: white;
    margin-top: 230mm;
    margin-left: 270mm;
}

.homePage h2 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 54px; 
    margin-left: 404mm;
    max-width: 200mm;
    color: white;
}