#fixed {
    background-image: url(../../../public/220730_NanetteSeniorPortraits_KP-56.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    height: 30%;
    width: 100%;
}

#remaining {
    flex-grow: 1;
}

.homePage h1 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 82px;
    color: white;
    margin-top: 220mm;
    margin-left: 255mm;
}

.homePage h2 {
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    font-size: 70px; 
    margin-left: 368mm;
    color: white;
    margin-bottom: 5mm;
}